body{
    background-color:  #21181D;
}

.login{
    display: block;
    text-align: center;
    margin-top: 100px;
}

#login--title{
    color: white;
    font-size: 26px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 24px;
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

#login--main{
    width: auto;
    max-width: 800px;
    display: inline-block;
}

#login--query{
    margin-top: 5px;
    margin-bottom: 40px;
    color: aliceblue;
    font-size: 18px;
}

#query--btn{
    border: none;
    font-size: 20px;
    text-decoration: none;
    background: transparent;
    color: red;
    cursor: pointer;
    text-align: left;
}

#login--form{
    width: 320px;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
    color: #156,156,156;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

#facebook--btn{
    cursor: pointer;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid white;
    height: 40px;
    width: 320px;
    margin-bottom: 7px;
    background-color: #3b5998;
}

#google--btn{
    background-color: #518EF8;
    color: white;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid white;
    height: 40px;
    width: 320px;
    margin-top: 7px;
}

#login--or{
    width: 320px;
    text-align: center;
    margin: 12px auto 24px;
    height: 11px;
    border-bottom: 1px solid white;
}

span {
    font-size: 18px;
    padding: 0 13px;
    border: 0;
    margin: 0;
    outline: 0;
    color: #fff;
    background-color: #21181D;
}
#email--btn{
    font-weight: 300;
    height: 40px;
    position: relative;
    text-align: center;
}

#email{
    cursor: pointer;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    border: 1px solid white;
    height: 40px;
    width: 320px;
    color: #fff;
    font-size: 16px;
}

