body {
	color: #2a3a5a; 
	background-color:#FAF4D4; 
}

.header {
	/*background-image: url("orange.jpg");*/
	background-repeat: no-repeat;
	height: 400px;
	width: 125%;
	/*background-image: linear-gradient(60deg, #070ff4, #f90a0a);
*/
	background-color: #ffbf00;
}

a{
	text-decoration: none;
}

button {
	height: 2rem;
	width: 10rem;
	border-radius: ;
	border-style: none;
	background-color: rgb(255, 66, 77);
	font-weight: 500;
	color: rgb(255,255, 255);
	font-size: 0.875rem;
}

.rating {
	margin-top: 20px;
}

#form {
	display: block;
	padding: 6px 0;
	width: 250px;
	height: 50px;
	color: #2a3a5a;
	font-family: sofia-pro;
	font-weight: 500;
	font-style: normal;
	letter-spacing: .02em;
	line-height: 1.7em;
	text-transform: none;
	box-sizing: border-box;
	border-style: none;
	font-size: 15px;
}

#sub {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer {
	height: 280px;
	width: 100%;
	background-color: #1c1d1f;
	color: #ffffff;
	padding-top: 20px;
	padding-left: 20px;
}

#bot {
	margin-top: 120px;
	text-align: center;
}

#soc {
	text-align: left;
}

.icons{
	text-align: center;
}

.subscribe {
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-family: inherit;
	font-size: 15px;
	line-height: normal;
	font-weight: normal;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #f8ba12;
	border: 1px solid #2a3a5a;
	border-radius: 3px;
	transition: .1s opacity linear;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 1em 2.5em;
	outline: none;

}

.sign-up{
	background-color: #2a3a5a;
}

.listen {
	display: block;
	line-height: 1em;
	text-align: left;
	font-family: sofia-pro;
	font-weight: 500;
	font-style: normal;
	letter-spacing: .02em;
	text-transform: none;
	color: rgba(42,58,90,.8);
}

content {
	background-color: #FAF4D4;
}