.home{
    display: flex;
    margin: 0 -8px 0 -7px;
}

.home--img{
    position: relative;
    width: 50%;
    color: rgb(33,222,165);
    height: auto;
    min-height: 1159px;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
}

#home--tt{
    position: absolute;
    top: 12px;
    left: 50px;
    font-size: 75px;
    margin-top: -4px;
}

#home--out{
    position: absolute;
    top: 20px;
    left: 500px;
    font-size: 24px;
    font-weight: bold;
}

#home--agh{
    position: absolute;
    top: 240px;
    left: 50px;
    color: blue;
    font-size: 21px;
    font-weight: bold;
}

#home--btn{
    position: absolute;
    top: 610px;
    left: 220px;
    width: 220px;
    height: 70px;
    background-color: #ef463f;
    border: 0;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.main--content{
    background-color: #fff;
    margin-left: 10px;
    width: 680px;
    display: block;
}

.main--love{
    display: block;
    font-size: 18px;
}

#love--f{
    display: flex;
}

#love--tt{
    font-weight: bold;
    font-size: 80px;
    color: #ef463f;
}

#love--p{
    font-weight: bold;
}

.main--air{
    display: block;
    margin-left: 20px;
    font-size: 18px;
}

#air--h{
    color: #F91694;
    font-size: 80px;
    font-weight: bold;
}

#air--img{
    width: 400px;
    height: 400px;
    margin-top: -40px;
}


