.nav{
    display: flex;
    color: black;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background-color: #;
}

.nav--title{
    /* margin: 26px 0px 22px calc((100% - 980px) * 0.5); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 0px;
    align-self: start;
    justify-self: start;
    margin-top: 10px;
    text-align: center;
    position: relative;
    height: 40px;
    position: relative;
    grid: 1/1/2/2;
}

.nav--ul ul{
    display: flex;
    visibility: inherit;
    width: 596px;
    height: 29px;
    position: relative;
    /* margin: 26px 0px 33px calc((100% - 980px)*0.5); */
    justify-self: start;
    grid: 1/1/2/2;
    left: 280px;
    align-self: flex-start;
    direction: ltr;
    text-decoration: none;
    margin-top: 50px;
    list-style-type: none;
}

.nav--li{
    padding-left: 5px;
    padding-right: 5px;

}

.nav--img{
    margin-top: 50px;
    margin-right: 10px;
}