.nav{
    display: flex;
    color: #fff;
    position: relative;
    height: 90px;
    margin: -10px -8px 0 -7px;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background-color: #21181D;
}

.nav--title{
    margin-left: 200px;
    font-size: 10px;
    padding-top: 20px;
}

.nav--ul ul{
    display: flex;
    list-style-type: none;
    padding-top: 20px;
    margin-left: 130px;
}

.nav--li{
    padding-left: 31px;
    padding-right: 31px;

}

.nav--img{
    margin-left: 200px;
    margin-top: 30px;
    background-color: aqua;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}