.footer--main{
    background-color: antiquewhite;
    height: 120px;
    display: flex;

}

.footer--form{
    /* height: 40px;
    width: 40px; */
    margin-left: 20px;
    /* margin-top: 20px; */
    padding-top: 30px;
}

.footer--cont{
    margin-left: 40px;
    padding-top: 60px;
}

#email{
    /* position: absolute; */
    border: 1px solid #116dff;
    width: 384px;
    height: 36px;
    margin-bottom: 10px;
}

button{
    /* position: absolute; */
    /* top: 1400px; */
    text-align: center;
    height: 36px;
    width: 384px;
    border-color: #fe620f
}